:root {
  --white: white;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-black: #111316;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--slate-black);
  font-family: monospace;
  color: var(--slate-50);
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  font-size: 0.825rem;
  color: var(--slate-400);
  pointer-events: none;
}

dt {
  padding-top: 0.5em;
  color: var(--slate-500);
}
dd {
  margin: 0;
  color: var(--slate-400);
}

#spaceship {
  font-size: 1.1rem;
  will-change: transform;
}

#canvas {
  border: 1px solid hsl(0 0% 15%);
  max-height: 100%;
}
